<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
      
        <div class="centerd">
            <h1 style="text-align: center;">Your Schedule</h1>
        </div>
        <% if(successMessage){ %>
        <div class="user-message user-message--success"><%= successMessage %> </div>
    <% } %>
    <%- include('../includes/pagination.ejs',{currentPage:currentPage,nextPage:nextPage,previousPage:previousPage,lastPage:lastPage,hasNextPage:hasNextPage,hasPreviousPage:hasPreviousPage}) %>
        <br>
        <% if(dates.length > 0){ %>
            
            
            <div class="grid">
                <% for (let date of dates) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                
                                <%= date.day %>
                            </h1>
                        </header>
                        
                        <div class="card__content">
                            <h2 class="product__price">
                                <% for(let time of date.times){ %>
                                    <p><%=time.from%> - <%=time.to %> <%= time.status %>  </p>
                                <% } %>  
                            </h2>
                            <!-- <p class="product__description">
                                <%= date.userId %>
                            </p> -->
                        </div>
                         <div class="card__actions">
                            <a href="/date/edit-date/<%= date._id %>" class="btn">Edit</a>
                                <!-- <input type="hidden" value="<%= date._id %>" name="productId"> -->
                                
                                <a href="/date/delete/<%= date._id %>" class="btn danger">Delete</a>

                        </div>
                    </article>
                    
                    <% } %>
            </div>     
            <div class="centered">
                <a class="btn" href="/date/add-date">Add one</a>
            
            </div>
            <br>
        <% }else{ %> 
            <div class="centered">
            <h2> You don`t have any</h2>
            <div class="centered">
                <a class="btn" href="/date/add-date">Add one</a>
            
            </div>
            </div>
        <% } %> 
            
        
        
        

<script src="/js/addBtn.js"
<script src="/js/main.js"></script>
</body>
<footer>
    
</footer>
</html>
